VITE_SHOW_LANDING=true
VITE_SUPABASE_URL=https://fwfxgweiggqmtdmwlhnz.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_fI-X5oQu8bMaW7SXEQJaag_fMpxXFyY
VITE_RESEND_API_KEY=your_key
VITE_LAUNCH_DATE=2025-09-01
